body {
  background-color: black;
}
p {
  font-family: fantasy;
  color: rgb(100, 0, 0);
  background-color: black;
}
h1{
  color: rgb(150, 0, 0);
  font-family:fantasy ;
  background-color: black;
}
ul {
  color: rgb(150, 0, 200);
  background-color: black;
}
 li{
  color: rgb(100, 0, 0);
  background-color: black;
}
h2 {
  color: rgb(100, 0, 0);
  background-color: black;
}


